body {
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttonDiv {
    display: flex;
    justify-content: space-between;
}

.navbuttons {
    font-size: large;
}