body {
    text-align: center;
    background: url("../img/sfondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttonDiv {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.navbuttons {
    font-size: large;
}